{
	"port": 3000,
	"useTLS": false,
	"hostname": "localhost",
	"certPath": "/etc/letsencrypt/live/yourdomain.com/fullchain.pem",
	"keyPath": "/etc/letsencrypt/live/yourdomain.com/privkey.pem",
	"caPath": "/etc/letsencrypt/live/yourdomain.com/chain.pem"
}
