<script>
	function setCurrentPage(pageId) {
		console.log("setting current page", pageId)

		// add the class to the li with the id
		$("#" + pageId).addClass("mui--is-active");
	}
	function showTab(pageId) {
		// show the page with the id
		$("#" + pageId).show();
	}
	function hideTab(pageId) {
		// hide the page with the id
		$("#" + pageId).hide();
	}
	setTimeout(()=>{		
		setCurrentPage("%PAGE%")
	}, 1)
</script>

<ul class="mui-tabs__bar">
	<li id="home">
		<a href="/" style="cursor: pointer"> Live </a>
	</li>
	<li id="playerinfo" style="display: none;">
		<a style="cursor: pointer"> Player Information </a>
	</li>
	<li id="matchinfo">
		<a style="cursor: pointer" href="/matchinfo"> Match Information </a>
	</li>
	<li id="serverload">
		<a style="cursor: pointer" href="/serverload"> Server Load </a>
	</li>
	<li id="parserload">
		<a style="cursor: pointer" href="/parserload"> Parser Server Load </a>
	</li>
</ul>
