body,
.mui-panel {
	background-color: #202124;
	color: white;
}
.mui-appbar {
	background-color: #de6f2b !important;
}
a {
	color: white !important;
}

.mui-table > thead > tr > th {
	border-bottom: 1px solid #de6f2b !important;
}
tbody > tr > td {
	border-bottom: 1px solid #de6f2b !important;
}

tbody > tr:nth-child(odd) {
	background-color: #272727 !important;
}

.playerTitle {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	text-align: center;
	align-items: center;
}

.debuglog {
	max-height: 70vh;
	overflow-y: auto;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.debuglog > #linecount {
	text-align: right;
	text-decoration: underline;
}

@media (min-width: 1920px) {
	.mui-container {
		max-width: 1920px;
	}
}
